.main {
  flex: 1;
  display: grid;
  place-items: center;
  height: 100%;
  width: 80%;
  background: linear-gradient(45deg, rgb(86, 86, 247), rgb(192, 100, 57));
}
header{
  padding: 1%;
  text-align: center;
  justify-content: center;
}
/* Style the side navigation */
.sidenav {
  height: match-parent;
  width: 20%;
  background-color: #111;
}
.container{
  display: flex;
}
/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}
