.mainContainer{
    position: relative;
    width: 720px;
    height: 300px;
    background-color: aqua;
    margin: 5vh;
}

.box{
    height: 50px;
    width: 50px;
    background-color: blueviolet;

}

.draggable {
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
  }
  
  .dragging {
    cursor: grabbing;
  }